*,
*::after,
*::after {
      box-sizing: border-box;
}

body{
      margin: 0;
      font-family: Raleway, Arial, Helvetica, sans-serif;
      // background-color: #000;
    }

a {
      text-decoration: none;
      color: #fff;
}

img {
      max-width: 100%;
}

.wrapper{
      position: relative;
      overflow-x: hidden;
      padding: 0 0rem;
      min-height: 100vh;   
      
}
.img_bg{
      object-fit: cover;
      top:0;
      left:0;
      position: absolute;
      min-height: 100vh;
      max-height: 100vh;
      min-width: 100vw;
      z-index: -1;
}
.contene{
      position: relative;
  }
  #c {
        position:absolute;
        top: 0;
        width: 100%;
        height: 100%;
      // background-color: #171719;
      z-index: -1;
  }
  