.header{
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    min-height: 10vh;
    margin:0rem auto;
    .main_nav{}

    .main_menu{
        margin: 0;
        padding: 0;
        list-style:none;
        display: flex;
        justify-content: space-between;
       
        &_list{
            font-size: 1.2rem;
            padding-right: 1rem;
            &:last-child{
                padding-right: 0;
            }
        }
        &_link:hover{
            color:var(--color-principal);
        }
    }
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0rem auto;
    text-align: center;
    min-height: 90vh;
    .banner_text{
        color:#fff;
        font-size: 3rem;
        width: 50%;
        padding-left: 1rem;
    }
    .banner_img{
       
        & > img{
            width: 50%;
           
        }
    }
}

//SERVICIOS
.servicios{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin:2rem auto;

    &_datos{
        width: 70%;
        &_title{
            position: relative;
            font-size: 3rem;
            font-weight: bold;
            &:after{
                position:absolute;
                content:'';
                left:0;
                bottom:-.5rem;
                width: 7%;
                height: .2rem;
                background-color: var(--color-principal);
            }
        }
        &_text{
            margin-top: 1rem;
            font-size: 1.2rem;
            color:rgba(0,0,0,.6);
            line-height: 1.2;
        }
        &_mas{
            margin-top: 1rem;
            font-weight: bold;
            color:var(--color-principal);
        }
    }
}

//ejemplos

.ejemplos{
    position: relative;
    // background-color: #e6e6e6;
    
    &_bg{
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: -1;
    }

    &_title,
    &_subtitle{
        text-align: center;
        color:#fff
    }
    &_title{
        position: relative;
        font-size: 3rem;
        padding-top: 4rem;
        margin-bottom: 4rem;
        &:after{
            position:absolute;
            content:'';
            left:46%;
            bottom:-2rem;
            width: 7%;
            height: .2rem;
            background-color: var(--color-principal);
        }
    }
    &_subtitle{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    &_box{
        max-width: 1200px;
        margin:0 auto;
        background-color: #fff;
        box-shadow: 0px 15px 25px rgba(200, 204, 207, 0.5);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        &_group{
            display: flex;
            flex-direction: row;
            border-bottom:1px solid rgba(0,0,0,.1);
            &:last-child{
                border-bottom:none;
            }
            &_one{
                display: flex;
                flex-direction: row;
                // justify-content: space-between;
                align-items: center;
                padding-top: 1rem;
                margin: 1rem;
                &:nth-child(2){
                    padding-right: 3rem;
                    margin-left: 0;
                }
                &_img{
                    width: 30%;
                    text-align: center;
                    // background-color: red;
                }
                &_data{
                    width: 70%;
                    &_title{
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 1rem;
                    }
                    &_body{
                        text-align: justify;
                        line-height: 1.5;
                        font-size: 1.1rem;
                        color:rgba(0,0,0,.6);
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

//contactenos
.contactenos{
    position: relative;
   &_container{
    max-width: 1200px;
    margin:0 auto;
   }

    &_bg{
        position:absolute;
        top:0;
        left:0;
        min-width: 100vw;
        height: 100%;
       filter: brightness(50%);

    }

    &_title{
        text-align: center;
        color:#fff
    }
    &_title{
        position: relative;
        font-size: 3rem;
        padding-top: 4rem;
        margin-bottom: 4rem;
        &:after{
            position:absolute;
            content:'';
            left:46%;
            bottom:-2rem;
            width: 7%;
            height: .2rem;
            background-color: var(--color-principal);
        }
    }
    &_form{
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 80%;
        margin:0 auto;
        color:#fff;
        & span{
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            & label{
                margin-bottom: .5rem;
            }
            & input{
                background-color: #fff;
                line-height: 2;
            }
            
            & textarea{
                min-height: 350px;
                background-color: #fff;
            }
        }
        &_enviar{
            background-color: var(--color-principal);
            font-size:1.3rem;
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius:4px;
            width: 10%;
            cursor: pointer;
        }
    }
    
}

//Staff
.staff{
    max-width: 1200px;
    margin:0 auto;

    &_datos{
        &_title,
        &_subtitle{
            text-align: center;
            color:#333
        }
        &_title{
            position: relative;
            font-size: 3rem;
            padding-top: 4rem;
            margin-bottom: 4rem;
            &:after{
                position:absolute;
                content:'';
                left:46%;
                bottom:-2rem;
                width: 7%;
                height: .2rem;
                background-color: var(--color-principal);
            }
        }
        &_staff{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 1rem;

            &_person_img{
                border-radius: 50%;
                width: 250px;
                margin:0 auto;
                overflow: hidden;
                & img{
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }
            }

            &_person_name{
                font-size: 1.3rem;
                font-weight: bold;
                color:#000;
                margin-top: 1rem;
                margin-bottom: .2em;
            }
            &_person_rol{
                font-size: 1rem;
                color:rgba(0,0,0,.5);
                margin-bottom: 1em;
            }
            &_person_contact{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                & span{
                    color:var(--color-principal);
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

//LOGIN

.centrar{
    position: relative;
    overflow: hidden;
    padding: 0 0rem;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display:flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #fff;
    font-size: 1.5rem;
    border-radius: 4px;
    min-width: 500px;
    &_title{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    & span{
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        & label{
            margin-bottom: .5rem;
        }
    }
    &_iniciar{
        background-color: #333;
        padding: .5rem;
        text-align: center;
        color:#fff;
        border-radius: 4px;
        cursor: pointer;
    }
    &_forgot{
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
        font-size: 1rem;
        cursor: pointer;
    }
}

.logo{
    width: 70px;
}